# Fire up GraphLab Create

In [1]:
import graphlab

# Part 1

In [2]:
people=graphlab.SFrame('people_wiki.gl/')

[INFO] This non-commercial license of GraphLab Create is assigned to pratyushdvd@gmail.comand will expire on September 29, 2016. For commercial licensing options, visit https://dato.com/buy/.

[INFO] Start server at: ipc:///tmp/graphlab_server-1452 - Server binary: C:\Users\pratyush\AppData\Local\Dato\Dato Launcher\lib\site-packages\graphlab\unity_server.exe - Server log: C:\Users\pratyush\AppData\Local\Temp\graphlab_server_1444712521.log.0
[INFO] GraphLab Server Version: 1.6.1

In [3]:
elton = people[people['name']=='Elton John']

In [7]:
people['word_count']=graphlab.text_analytics.count_words(people['text'])

In [8]:
tfidf=graphlab.text_analytics.tf_idf(people['word_count'])

In [9]:
people['tfidf']=tfidf['docs']

In [10]:
elton = people[people['name']=='Elton John']

In [23]:
elton[['word_count']].stack('word_count',new_column_name=['word','word_count']).sort('word_count',ascending=False)

Columns:
	word	str
	word_count	int

Rows: 255

Data:
+-------+------------+
|  word | word_count |
+-------+------------+
|  the  |     27     |
|   in  |     18     |
|  and  |     15     |
|   of  |     13     |
|   a   |     10     |
|  has  |     9      |
|   he  |     7      |
|  john |     7      |
|   on  |     6      |
| since |     5      |
+-------+------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [11]:
elton[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 255

Data:
+---------------+---------------+
|      word     |     tfidf     |
+---------------+---------------+
|    furnish    |  18.38947184  |
|     elton     |  17.48232027  |
|   billboard   | 17.3036809575 |
|      john     | 13.9393127924 |
|  songwriters  |  11.250406447 |
|  overallelton | 10.9864953892 |
| tonightcandle | 10.9864953892 |
|    19702000   | 10.2933482087 |
|   fivedecade  | 10.2933482087 |
|      aids     |  10.262846934 |
+---------------+---------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Part 2

In [12]:
victoria=people[people['name']=='Victoria Beckham']

In [13]:
paul=people[people['name']=='Paul McCartney']

In [14]:
graphlab.distances.cosine(elton['tfidf'][0],victoria['tfidf'][0])

0.9567006376655429

In [15]:
graphlab.distances.cosine(elton['tfidf'][0],paul['tfidf'][0])

0.8250310029221779

# Part 3

In [16]:
knn_model1=graphlab.nearest_neighbors.create(people,features=['tfidf'],label='name',distance='cosine')

PROGRESS: Starting brute force nearest neighbors model training.

In [17]:
knn_model2=graphlab.nearest_neighbors.create(people,features=['word_count'],label='name',distance='cosine')

PROGRESS: Starting brute force nearest neighbors model training.

In [19]:
knn_model1.query(elton)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 1.17s        |
PROGRESS: | 0            | 17860   | 30.2348     | 1.58s        |
PROGRESS: | 0            | 23891   | 40.4445     | 2.60s        |
PROGRESS: | 0            | 26451   | 44.7783     | 3.72s        |
PROGRESS: | 0            | 30547   | 51.7123     | 4.56s        |
PROGRESS: | 0            | 43859   | 74.2479     | 5.66s        |
PROGRESS: | 0            | 48467   | 82.0487     | 6.58s        |
PROGRESS: | 0            | 49938   | 84.5389     | 7.84s        |
PROGRESS: | 0            | 50450   | 85.4057     | 10.09s       |
PROGRESS: | 0            | 52961   | 89.6565     | 11.35s       |
PROGRESS: | Done         |         | 100         | 12.10s       |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+--------------------+------+
| query_label | reference_label  |      distance      | rank |
+-------------+------------------+--------------------+------+
|      0      |    Elton John    | -2.22044604925e-16 |  1   |
|      0      |   Rod Stewart    |   0.717219667893   |  2   |
|      0      |  George Michael  |   0.747600998969   |  3   |
|      0      | Sting (musician) |   0.747671954431   |  4   |
|      0      |   Phil Collins   |   0.75119324879    |  5   |
+-------------+------------------+--------------------+------+
[5 rows x 4 columns]

In [20]:
knn_model2.query(elton)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 14.014ms     |
PROGRESS: | Done         |         | 100         | 766.692ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-------------------+------+
| query_label |  reference_label  |      distance     | rank |
+-------------+-------------------+-------------------+------+
|      0      |     Elton John    | 2.22044604925e-16 |  1   |
|      0      |   Cliff Richard   |   0.16142415259   |  2   |
|      0      |   Sandro Petrone  |   0.16822542751   |  3   |
|      0      |    Rod Stewart    |   0.168327165587  |  4   |
|      0      | Malachi O'Doherty |   0.177315545979  |  5   |
+-------------+-------------------+-------------------+------+
[5 rows x 4 columns]

In [21]:
knn_model2.query(victoria)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 34.988ms     |
PROGRESS: | Done         |         | 100         | 414.749ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+--------------------+------+
| query_label |     reference_label      |      distance      | rank |
+-------------+--------------------------+--------------------+------+
|      0      |     Victoria Beckham     | -2.22044604925e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |   0.207307036115   |  2   |
|      0      |      Adrienne Corri      |   0.214509782788   |  3   |
|      0      |     Beverly Jane Fry     |   0.217466468741   |  4   |
|      0      |      Raman Mundair       |   0.217695474992   |  5   |
+-------------+--------------------------+--------------------+------+
[5 rows x 4 columns]

In [22]:
knn_model1.query(victoria)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 44.041ms     |
PROGRESS: | Done         |         | 100         | 692.625ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+-------------------+------+
| query_label |   reference_label   |      distance     | rank |
+-------------+---------------------+-------------------+------+
|      0      |   Victoria Beckham  | 1.11022302463e-16 |  1   |
|      0      |    David Beckham    |   0.548169610263  |  2   |
|      0      | Stephen Dow Beckham |   0.784986706828  |  3   |
|      0      |        Mel B        |   0.809585523409  |  4   |
|      0      |    Caroline Rush    |   0.819826422919  |  5   |
+-------------+---------------------+-------------------+------+
[5 rows x 4 columns]